@charset "utf-8";
body 
{
	margin: 0;
	background-color: #121212;
	color: #f2f2f2;
}
/*navigation bar*/
#navbar 
{
	background-color: rgb(242, 242, 242);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.9em;
	display: block;
	transition: top 0.4s;
}
/*menu icon*/
#navbar .container 
{
	display: inline-block;
	cursor: pointer;
	float: right;
	margin: 1.5em 1.9em 1.5em 0;
}

#navbar .bar1, .bar2, .bar3 
{
	width: 1.6em;
	height: 1.3px;
	background-color: #333;
	margin: 5.2px 0;
	transition: 0.45s;
}

#navbar .change .bar1 
{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

#navbar .change .bar2 {opacity: 0;}

#navbar .change .bar3 
{
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-4.5px, -4px);
}

@media (min-width:720px)
{
	.mobile-container
	{
		display: none;
	}
	.navi
	{
		float: left;
	}
}
/*end menu icon*/
/*logo css*/
#navbar .weblogo img
{
	height: 4em;
	width: 4em;
}

#navbar .weblogo
{
	float: left;
	padding: 0.15em 2em 0;
	font-size: 18px;
	line-height: 20px;
}

#navbar .weblogo:hover, .weblogo:focus
{
	text-decoration: none;
}
/*end logo css*/
/*login icon*/
.jit-login
{
	float: right;
	margin: 1.25em 6%;
}

.jit-login svg
{
	fill: #797979;
}

.jit-login svg:hover
{
	cursor: pointer;
	fill: #545454;
	transition: 0.5s;
}
/*navbar css*/
#navbar .navi
{
	float: left;
	width: 30em;
}

#navbar .navbar-category a
{
	display: block;
	font-weight: lighter;
	color: black;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	height: 2.2em;
}

#navbar .navi a:hover 
{
	color: black;
	border-bottom: 0.12em solid rgb(199, 0, 1);
}

@media (max-width : 719.9999px)
{
	.navi
	{
		display: none;
	}
	.mobile-container
	{
		float: right;
	}
}

.navbar-category li
{
	float: left;
	margin: 0.6em 2em 0.4em 0;
}

.dropdown
{
	list-style: none;
	text-align: center;
	padding: 0 1.3%;
}

.navi-product
{
	margin-right: 0;
}

.navi-support
{
	right: 0;
}

.navi-about
{
	
}

.navi-contact
{
	
}
/*end navbar css*/
/*end navigation bar*/
